* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
  overflow: hidden;
}

ul {
  list-style: none;
}

.scroll {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.scroll::-webkit-scrollbar {
  width: 0;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: turquoise;
}

.scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.row.reverse {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.col {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.col.reverse {
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.nowrap {
  flex-wrap: nowrap;
  overflow: hidden;
}
.wrap {
  flex-wrap: wrap;
}

.jstart {
  justify-content: flex-start;
}
.jend {
  justify-content: flex-end;
}
.jcenter {
  justify-content: center;
}
.jbetween {
  justify-content: space-between;
}
.jaround {
  justify-content: space-around;
}
.jevenly {
  justify-content: space-evenly;
}

.astart {
  align-items: flex-start;
}
.aend {
  align-items: flex-end;
}
.acenter {
  align-items: center;
}
.abase {
  align-items: baseline;
}
.astretch {
  align-items: stretch;
}

.fstart {
  justify-content: flex-start;
  align-items: flex-start;
}
.fend {
  justify-content: flex-end;
  align-items: flex-end;
}
.fcenter {
  justify-content: center;
  align-items: center;
}

.sstart {
  align-self: flex-start;
}
.send {
  align-self: flex-end;
}
.scenter {
  align-self: center;
}
.sbase {
  align-self: baseline;
}
.sstretch {
  align-self: stretch;
}

.xfill {
  width: 100%;
}
.yfill {
  height: 100%;
}
.fill {
  width: 100%;
  height: 100%;
}
