@import '../fonts/text.css';

:root {
	--f-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, 'Segoe UI Emoji';
	--f-code: 'Courier New', Courier, monospace, var(--f-system);
	--f-text: 'text', var(--f-code), var(--f-system);
}
