:--media {
  object-fit: cover;
  object-position: center;
  user-select: none;
  -webkit-user-drag: none;
}

:--media.cover {
  object-fit: cover;
}
:--media.contain {
  object-fit: contain;
}

:--media.top {
  object-position: top;
}
:--media.right {
  object-position: right;
}
:--media.bottom {
  object-position: bottom;
}
:--media.left {
  object-position: left;
}
:--media.center {
  object-position: center;
}
:--media.top.left {
  object-position: top left;
}
:--media.top.right {
  object-position: top right;
}
:--media.top.center {
  object-position: top center;
}
:--media.bottom.right {
  object-position: bottom right;
}
:--media.bottom.left {
  object-position: bottom left;
}
:--media.bottom.center {
  object-position: bottom center;
}
:--media.center.right {
  object-position: center right;
}
:--media.center.left {
  object-position: center left;
}

.icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  & > :--media,
  & > svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}
